// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#outer 
  {
  	float:left;
  	margin-left:200px;
  	margin-top:75px;
  	border:1px solid;
    width:350px;
    height:500px;
    background-color:#99EEEE;
    padding-left: 30px;
    padding-top: 20px;
   
  }